<h1 mat-dialog-title>Update Product</h1>

<form novalidate #form="ngForm" (ngSubmit)="editProduct(form)">
    <div mat-dialog-content>
        <mat-form-field class="example-full-width">
            <mat-label>Code</mat-label>
            <input matInput type="text" name="productCode" [(ngModel)]="data.product.productCode" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Title</mat-label>
            <input matInput type="text" name="productTitle" [(ngModel)]="data.product.productTitle"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Image</mat-label>
            <input matInput type="text" name="imageUrl" [(ngModel)]="data.product.imageUrl"/>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Price($)</mat-label>
            <input matInput type="number" name="price" [(ngModel)]="data.product.price"/>
        </mat-form-field>
        
        <!-- <mat-form-field class="example-full-width">
            <mat-label>Stock</mat-label>
            <input matInput type="number" name="quantity" [(ngModel)]="data.product.quantity"/>
        </mat-form-field> -->
    </div>

    <div mat-dialog-actions>
        <button mat-button type="submit" cdkFocusInitial>Update</button>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
    </div>
</form>